<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Assignment 2</title>
    <link rel="stylesheet" href="a2">
</head>

<body>
    <h1>Click on any book to see the details.</h1>
    <div class="content">
        <% if(data.length){ 
            for(var i=0; i< data.length; i++) {%>
            <table>
                <tr>
                    <td>
                        <a href="books/<%= (i+1) %>"><%= data[i].bookName%></a>
                    </td>
                </tr>
            </table>
            <% } 
        }else{ %>
                <table>
                    <tr>
                        <td colspan="3">No user</td>
                    </tr>
                </table>
        <% } %>
    </div>
</body>
<footer>
    <div class="nav">
        <a href="/home">List of Books</a>
        <span id="sep">|</span>
        <a href="/AddNewBook">Add Book</a>
        <span id="sep">|</span>
        <a href="/DeleteABook">Delete A Book</a>
    </div>
</footer>
</html>